<header class="fixed-top">
  <div class="d-flex">
    <div class="mr-auto pl-5 py-4">
      <img src="../../../assets/logo.svg" alt="">
    </div>
    <div class="mr-5 align-self-center">
      <p class="font-weight-bold text-white nav-number">_01</p>
      <a class="font-weight-bold text-white" routerLink="/home" routerLinkActive="active">Section</a>
    </div>
    <div class="mr-5 align-self-center">
      <p class="font-weight-bold text-white nav-number">_02</p>
      <a class="font-weight-bold text-white" routerLink="/about" routerLinkActive="active">Section</a>
    </div>
    <div class="mr-5 mt-3 align-self-center">
      <a class="mt-3 font-weight-bold text-white" routerLink="/login">Login</a>
    </div>
  </div>
</header>
