<header class="fixed-top">
  <div class="d-flex">
    <div class="mr-auto pl-5 py-4">
      <img src="../../../assets/logo.svg" alt="" />
    </div>
    <div class="mr-5 align-self-center">
      <p class="font-weight-bold text-white nav-number">_01</p>
      <a
        class="font-weight-bold text-white"
        routerLink="/home"
        routerLinkActive="active"
        >Home</a
      >
    </div>
    <div class="mr-5 align-self-center">
      <p class="font-weight-bold text-white nav-number">_02</p>
      <a
        class="font-weight-bold text-white"
        routerLink="/borrower"
        routerLinkActive="active"
        >Borrower</a
      >
    </div>
    <div class="mr-5 align-self-center">
      <p class="font-weight-bold text-white nav-number">_03</p>
      <a
        class="font-weight-bold text-white"
        routerLink="/lender"
        routerLinkActive="active"
        >Lender</a
      >
    </div>
    <div class="mr-5 mt-3 align-self-center">
      <button class="btn btn-primary py-2 font-weight-bold">Sign Up</button>
    </div>
    <div class="mr-5 mt-3 align-self-center">
      <a class="mt-3 font-weight-bold text-white" routerLink="/projectlist"
        >Login</a
      >
    </div>
  </div>
</header>
