<div class="section2-background d-flex justify-content-center">
  <div class="w-75 align-self-center">
    <div class="d-flex flex-row">
      <div class="p-2 col-7 section2-image"></div>
      <div class="p-2 col-5">
        <h1 class="text-light">Section<br />Headline<br />Goes<br />Here</h1>
        <p class="mt-4 text-white">
          Bacon ipsum dolor amet shoulder bacon short loin tail pork belly
          brisket, turkey ham sausage turducken salami hamburger andouille pig
          jerky. Picanha burgdoggen short loin sausage.
        </p>
      </div>
    </div>
    <!-- <app-loader [isLoading]="isLoading"></app-loader> -->
  </div>
</div>

<div class="section2-image2">
  <img src="../../assets/section2-image.png" alt="" />
</div>
