<div class="home-background d-flex justify-content-center">
  <div class="w-75 align-self-center">
    <h1 class="text-light">You Make<br />the Rules</h1>
    <p class="home-subehead mt-4 text-white">
      Choose your lending rate, terms and pick from a market place of
      traditional, micro-finance and crowd funding projects.
    </p>
    <!--
      <div class="d-flex flex-row mt-4">
        <div><img src="../../assets/early-bonus.svg" alt="" /></div>
        <div><h3 class="text-white ml-3">Early Payoff Bonus</h3></div>
      </div>
      <div class="d-flex flex-row mt-2">
        <div><img src="../../assets/ontime-bonus.svg" alt="" /></div>
        <div><h3 class="text-white ml-3">On-Time Payoff Bonus</h3></div>
      </div>
      <!-- <app-loader [isLoading]="isLoading"></app-loader>
    -->
  </div>
</div>

<div class="section1-image1">
  <img src="../../assets/loan-graphic.svg" alt="" />
</div>
