<div class="section2-background d-flex justify-content-center">
  <div class="w-75 align-self-center">
    <div class="d-flex flex-row">
      <div class="p-2 col-7 section2-image"></div>
      <div class="p-2 col-5">
        <h1 class="text-white">Borrow On Your Own Terms</h1>
        <p class="mt-4 text-white">
          Bacon ipsum dolor amet shoulder bacon short loin tail pork belly
          brisket, turkey ham sausage turducken salami hamburger andouille pig
          jerky.
        </p>
        <div class="d-flex flex-row mt-4">
          <div><img src="../../assets/early-bonus.svg" alt="" /></div>
          <div><h3 class="text-white ml-3">Early Payoff Bonus</h3></div>
        </div>
        <div class="d-flex flex-row mt-2">
          <div><img src="../../assets/ontime-bonus.svg" alt="" /></div>
          <div><h3 class="text-white ml-3">On-Time Payoff Bonus</h3></div>
        </div>
      </div>
    </div>
    <!-- <app-loader [isLoading]="isLoading"></app-loader> -->
  </div>
</div>

<div class="section2-image2">
  <img src="../../assets/borrow_graphic.svg" alt="" />
</div>
