<div class="home-background d-flex justify-content-center">
  <div class="w-75 align-self-center">
    <h1 class="text-light">Peer to Peer<br />Funding<br />Protocol.</h1>
    <div class="line bg-primary"></div>
    <p class="home-subehead mt-4 text-white">
      Trove is a peer to peer lending Protocol where the borrower and lender
      coem to agreement on terms.
    </p>
    <button
      class="btn btn-primary font-weight-bold mt-4"
      type="button"
      name="button"
    >
      Get Started
    </button>
    <!-- <app-loader [isLoading]="isLoading"></app-loader> -->
  </div>
</div>

<div class="section1-image1">
  <img src="../../assets/section2-image.png" alt="" />
</div>
