<app-header></app-header>
<router-outlet></router-outlet>
<div
  class="d-flex flex-row justify-content-center text-white fixed-bottom mb-5"
>
  <div class="font-weight-BoldItalic mr-4">__00</div>
  <div class="footer-line align-self-center"></div>
  <div class="ml-4"><img src="../../assets/eos-logo.svg" alt="" /></div>
</div>
<div class="vert-text vert-text--left">
  <p class="text-white font-weight-bold">Bring Your Nikes</p>
</div>
<div class="vert-text vert-text--right">
  <p class="text-white font-weight-bold">Built on EOS</p>
</div>
