@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "src/app/stylesheets/1_settings/bootstrap-overrides.scss";

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

.profile-image {
  width: 32px;
}

.search-sort {
  margin-top: 144px;
}
