@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "src/app/stylesheets/1_settings/bootstrap-overrides.scss";

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

.profile-image {
  width: 32px;
}

.project-detail-image {
  background-image: url("../../assets/tesla.png");
  height: 100vh;
  background-repeat: none;
  background-size: cover;
  background-position: -182px 0px;
}

.project-detail-content {
  width: 408px;
}
